<html>
    <head>
        <title>File</title>
    </head>
    <body>
        <h1>
            Please Upload File
        </h1>
    <input type="file" class="form-control" id="colorPdf" onchange="UploadPdfFile()" required />


    <button onclick="fieUplaod()">Upload</button>


    </body>
<script src="~/javascript/colorpdf.js"></script>
</html>